* {
    /* border: 2px solid red; */
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.main-container {
    display: flex;
    justify-content: flex-end;
}

.game-board {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.card {
    height: 250px;
}

.card:hover {
    transform:scale(1.2);
    cursor: pointer;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.side-board {
    margin: 10px 150px 10px 125px;
}
h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.side {
    display: flex;
    flex-direction: column;
}
.side.cpu {
    /* margin-left: 20px; */
}
.score{
    text-align: center;
}

#prompt {
    text-align: center;
    font-size: 2rem;
}

.selected {

}
